*, html, body{
margin: 0;
}

.container{
    width: 100%;
    height: auto;
    min-height: 700px;
    display: block;
}
.content{
    display: block;
    float: left;
    margin: 20px;
}
.create_network, .update_device{
    display: block;
}
.input_content, .submit{
    display: inline-block;
    margin: 15px 10px;
}
